apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: REDACTED
    server: https://kubemaster:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: kubernetes-admin
  name: kubernetes-admin@kubernetes
current-context: kubernetes-admin@kubernetes
kind: Config
preferences: {}
users:
- name: kubernetes-admin
  user:
    client-certificate-data: REDACTED
    client-key-data: REDACTED
    token: eyJhbGciOiJSUzI1NiIsImtpZCI6InA2N05wcy02dzEweXhpXzZLeThJVFVMVjRyeFlnM1RsR3FVR1h0VXVQY2cifQ.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJrdWJlcm5ldGVzLWRhc2hib2FyZCIsImt1YmVybmV0ZXMuaW8vc2VydmljZWFjY291bnQvc2VjcmV0Lm5hbWUiOiJhZG1pbi11c2VyLXRva2VuLXQ1ajR0Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ2aWNlLWFjY291bnQubmFtZSI6ImFkbWluLXVzZXIiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlcnZpY2UtYWNjb3VudC51aWQiOiI5YWUwMDA4MC0zZTVlLTRhNjktODAxMy1jZTc5M2Y5M2E5YjQiLCJzdWIiOiJzeXN0ZW06c2VydmljZWFjY291bnQ6a3ViZXJuZXRlcy1kYXNoYm9hcmQ6YWRtaW4tdXNlciJ9.T4rFF8xtJlLe-A5nnJyTd7ZQ15sqwvfC0J06NOmN2p4MbCCKFs0H3LlnX_eUqdqBSqo_Z2VCo8DqGQwF_-5Y0XH6Tcl0gdT-4m-QYjSbdhzvCBJj3d5gEhbSndPfGOFWyJGqQyAs7HRgQ871CTFZMfeEVRYaUrelJSmG_VflPdiJuYJNS70NPIUGYRp_KVG5e4L5Sbc_r7NGbpEE1M4T4Si-p5HCQPPeNFHtJ_j48kLv44lG2xMVud2my0d82NeeTP4GA4gX00service/kubernetes-dashboard edited7jPqkpp7LN7pboA-2MZxrHEUZrgvZQhtJt4KTXWMQ
// token: PUT_YOUR_TOKEN_HERE_THAT_YOU_USED_TO_MANUALLY_LOGIN
