apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: REDACTED
    server: https://kubemaster:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: kubernetes-admin
  name: kubernetes-admin@kubernetes
current-context: kubernetes-admin@kubernetes
kind: Config
preferences: {}
users:
- name: kubernetes-admin
  user:
    client-certificate-data: REDACTED
    client-key-data: REDACTED
    token: eyJhbGciOiJSUzI1NiIsImtpZCI6IjRsTjZ2b0RJU3JMNDVVaGpJbkVQTGh5NThteGphcGtzMEJ5V2pIQkpLZlUifQ.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJrdWJlcm5ldGVzLWRhc2hib2FyZCIsImt1YmVybmV0ZXMuaW8vc2VydmljZWFjY291bnQvc2VjcmV0Lm5hbWUiOiJhZG1pbi11c2VyLXRva2VuLW45ZGZxIiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ2aWNlLWFjY291bnQubmFtZSI6ImFkbWluLXVzZXIiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlcnZpY2UtYWNjb3VudC51aWQiOiJkYjI4ZDkzYi03NTNjLTRiMWMtYjgzNy0zZjBiM2Y5MzEyZDQiLCJzdWIiOiJzeXN0ZW06c2VydmljZWFjY291bnQ6a3ViZXJuZXRlcy1kYXNoYm9hcmQ6YWRtaW4tdXNlciJ9.cI6Aky4iPg0awWX6j_PVKtSG0Ix3hF_efQRjgwSTNqiF9qKe7s_0AXRhYwWwOshtLfOpWT4QwwuM9UkBrTtOP_LNvKnZZAibadSsx8NxyGTUgwxPjo0jqSfEQPpb7aat61IBpwOv9mq08UDayuam_SC9GVX9TbFpeJ0bzqaVG3YjgIA-igomIY_ld7hrSnStah4kthKHw2L9UR_l-4lqHdjMxZAoFQ4MVk9rDqTzgXlqAeOBs7YKdT01Ycyp99k4gEs4OA4cL6huTN6n3z-Q1_lIBV3Rm7p0HvnnjU3cx4d8dix1RUcG9eiqnK5_dCusfe1PMNOHgrC3E0y5iTKcBA
// token: PUT_YOUR_TOKEN_HERE_THAT_YOU_USED_TO_MANUALLY_LOGIN
