apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: REDACTED
    server: https://kubemaster:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: kubernetes-admin
  name: kubernetes-admin@kubernetes
current-context: kubernetes-admin@kubernetes
kind: Config
preferences: {}
users:
- name: kubernetes-admin
  user:
    client-certificate-data: REDACTED
    client-key-data: REDACTED
    token: eyJhbGciOiJSUzI1NiIsImtpZCI6ImdPeTFuVEFBTEdFdE9BZWlOU1J2Y2htaUhuTUJaQU4wNjY5RUUwa1cwbGMifQ.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJrdWJlcm5ldGVzLWRhc2hib2FyZCIsImt1YmVybmV0ZXMuaW8vc2VydmljZWFjY291bnQvc2VjcmV0Lm5hbWUiOiJhZG1pbi11c2VyLXRva2VuLWRsaGQ3Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ2aWNlLWFjY291bnQubmFtZSI6ImFkbWluLXVzZXIiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlcnZpY2UtYWNjb3VudC51aWQiOiIxNTNjNjgwNy04MjFlLTRkYTktODdjZS1mOTM4NzlhNTc1YjkiLCJzdWIiOiJzeXN0ZW06c2VydmljZWFjY291bnQ6a3ViZXJuZXRlcy1kYXNoYm9hcmQ6YWRtaW4tdXNlciJ9.QNvhp3uOdJMBD0OBB6aQuHxcDb375VR2yrnZF0u8JMPgYTNfVbYqVSy86FkvjLsLeb9Opl2qsbfvRdTUB3B3oPAe7AMUXgkknXLqo6axuvx3JV4fZqpBOarOqePt4hrKnP210o0rYJ4xJyxsJgWKMl6PLRCXodCsqFLoGv8f08O42KvatrHxmFzP-O27sCI3cmWQXc98atg_B3AFjli-PdChfQ6Oj5y8ZS3mzxMQsaCn6Cylservice/kubernetes-dashboard editedSC-LJzsKmgZfHLZi6hhw8Tt727MY6KISQe2V-0pxrvnvbjJhLOgG003e078xNS3I-Iw
// token: PUT_YOUR_TOKEN_HERE_THAT_YOU_USED_TO_MANUALLY_LOGIN
