apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: REDACTED
    server: https://kubemaster:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: kubernetes-admin
  name: kubernetes-admin@kubernetes
current-context: kubernetes-admin@kubernetes
kind: Config
preferences: {}
users:
- name: kubernetes-admin
  user:
    client-certificate-data: REDACTED
    client-key-data: REDACTED
    token: eyJhbGciOiJSUzI1NiIsImtpZCI6Im5abWw1ODlZWFpWSERUeWxGMjBHamJZdVh6VU5IQ0hMdFV0cDk4NUU2MjgifQ.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJrdWJlcm5ldGVzLWRhc2hib2FyZCIsImt1YmVybmV0ZXMuaW8vc2VydmljZWFjY291bnQvc2VjcmV0Lm5hbWUiOiJhZG1pbi11c2VyLXRva2VuLWxkZjJ0Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ2aWNlLWFjY291bnQubmFtZSI6ImFkbWluLXVzZXIiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlcnZpY2UtYWNjb3VudC51aWQiOiJhZTYwNWVmOC1lZGE5LTQ0MTEtYTc2NC1lYmY3ZjZmYjA3M2EiLCJzdWIiOiJzeXN0ZW06c2VydmljZWFjY291bnQ6a3ViZXJuZXRlcy1kYXNoYm9hcmQ6YWRtaW4tdXNlciJ9.CHQc052qHiTkRRnYrviY0cTE0QZ6dsqmuQMC2Vicp5CQb7OGeyTG6OlN0uDKfJs9fI6jdRYa3_7zAxqSCXqQrqCiYg3soAf2fSEyUKMWa9TTA3gmecl__AFiLXEQZWtBkgvizh1d2Se4GaFcXPgkb1LKUQmX-ePmOBjnoqZY1c0ek-NOG-XGAztwzqQeRzBtIM8Twoqt25RtZjZpv3sepO5-uSSqIEgiN8qm8DjgMiZT9Y9hGEmrljF_5BvlvZQ-uOwaaQfo_UuLTqb71yvqoKq1DHkY_U2VE9rngDlBSl7ohJXF8RDWLT92rpeCcZwcmj-PBUF0ao1aLi8ISM745Q
// token: PUT_YOUR_TOKEN_HERE_THAT_YOU_USED_TO_MANUALLY_LOGIN
